@import "tailwindcss";

:root {
  --color-primary: #0096c7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --color-primary: var(--color-primary);
}
